/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  font-family: 'Rijksmuseum-Bold', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Rijksmuseum-Bold';
  src: url('./fonts/Rijksmuseum-Bold.eot');
  src: url('./fonts/Rijksmuseum-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Rijksmuseum-Bold.svg#Rijksmuseum-Bold') format('svg'),
       url('./fonts/Rijksmuseum-Bold.ttf') format('truetype'),
       url('./fonts/Rijksmuseum-Bold.woff') format('woff'),
       url('./fonts/Rijksmuseum-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rijksmuseum-Normal';
  src: url('./fonts/Rijksmuseum-Normal.eot');
  src: url('./fonts/Rijksmuseum-Normal.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Rijksmuseum-Normal.svg#Rijksmuseum-Bold') format('svg'),
       url('./fonts/Rijksmuseum-Normal.ttf') format('truetype'),
       url('./fonts/Rijksmuseum-Normal.woff') format('woff'),
       url('./fonts/Rijksmuseum-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-text: white; 
  --body-background: black;
  --tickets-background: #d55140;
  --site-background: #40474f;
}

body {
  font-size: 100%;
  margin:0;
  background-color: var(--body-background);
}

body.allfontLarger {
  font-size: 120%;
}

/*****************************/
/*****************************/
        /* Header */
/*****************************/
/*****************************/



header {
  margin: 2em 5em 0 5em;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 301;
}
  
ul {
  list-style-type: none;
}

header nav:first-of-type {
  display: flex;
  justify-content: space-between;
}

header nav:first-of-type ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-wrap: nowrap;
}


header nav:first-of-type li {
  padding: 1em;
  color: var(--color-text);
  margin:auto;
}


@media (max-width: 1000px) {
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap; /* added line */
      border: 0;
      left: 0;
}
}

header nav:first-of-type li a {
  text-decoration: none;
  color: var(--color-text);
}



  /*****************************/
  /*****************************/
          /* Header 
          Hover Element */
  /*****************************/
  /*****************************/
  
  
header nav:first-of-type li a::after {
  content: "";
  text-decoration: none;
  color: var(--color-text);
  height: 1px;
  width: 100%;
  display: block;
  background-color: currentColor;
  transition: transform .3s;
  transform-origin: bottom left;
  transform:scaleX(0);
}

header nav:first-of-type li a:hover::after{
  transform-origin: bottom left;
  transform: scaleX(1);
} 

header nav:first-of-type ul:last-of-type li:nth-of-type(4) a {
  transform-origin: left;
  background-color: var(--tickets-background);
  padding: 1em;
  border-radius: 5px;
}

header nav:first-of-type  ul:last-of-type li:nth-of-type(4) a:hover {
  background-color: var(--color-text);
  color: var(--site-background);
  transition: .2s;
  cursor: pointer;

}
/* Patroon heb ik van: https://www.magicpattern.design/tools/css-backgrounds  */

header nav:first-of-type ul:last-of-type li:nth-of-type(4) a.kerst {
  color: var(--site-background);
  transform-origin: left;
  background-color: #e5e5f7;
  background-image:  linear-gradient(135deg, #f73f3f 25%, transparent 25%), linear-gradient(225deg, #f73f3f 25%, transparent 25%), linear-gradient(45deg, #f73f3f 25%, transparent 25%), linear-gradient(315deg, #f73f3f 25%, #e5e5f7 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  padding: 1em;
  border-radius: 5px;
}

header nav:first-of-type ul:last-of-type li:nth-of-type(4) a.kerst:hover {
  transform-origin: left;
    background-color: #e5e5f7;
    background-image:  linear-gradient(135deg, #3f70f7 25%, transparent 25%), linear-gradient(225deg, #3f70f7 25%, transparent 25%), linear-gradient(45deg, #3f70f7 25%, transparent 25%), linear-gradient(315deg, #3f70f7 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
  padding: 1em;
  border-radius: 5px;
}





header nav:first-of-type ul:last-of-type li:nth-of-type(4) a::after {
  content:none;
}

header nav:first-of-type ul:last-of-type li:last-of-type {
  margin-top: -1em;
  width: 5em;
  cursor: grab;
}



/*****************************/
/*****************************/
          /* MAIN  */
/*****************************/
/*****************************/

/* Dit heeft Sanne mij laten typen, door de .menuOverlay op de body te zetten, 
zeggen we tegen de body dat je niet kan scrollen wanneer we de overlay hebben aangeroepen met JS  */

button {
  width: 50px;
  height: 25px;
  z-index: 1000;
  position: relative;
}

body.menuOverlay {
  overflow: hidden;
  z-index: 101;
}

main section:first-of-type {
  z-index: 300;
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: var(--site-background);
  opacity: 0;
  transition: .5s;
  transform: translateY(-100%);
}


body.menuOverlay main section:first-of-type {
  transform: translateY(0);
  opacity: 1;
}

h2.fontLarger {
  font-size: xx-large;
}

p.fontLarge {
  font-size: larger
}

main section ul {
  display: block;
  column-count: 2;
  column-width: 50px;
  margin-top: 30em;
  max-width: 500px;
}

main li {
  padding: .5em;
  color: var(--color-text);
  font-size: 1.2em;
  margin-left: 2em;
}

main section:first-of-type img {
  position: absolute;
  left: 750px;
  top: 0px;
  max-width: 45%;
}

  /*****************************/
  /*****************************/
          /* Veranderen van
          logo */
  /*****************************/
  /*****************************/

  #logoContainer {

    margin: auto;
    text-align: center;
  }
  
  header nav:first-of-type ul:last-of-type li:last-of-type {
    width: 75px;
    height: 75px;
  }

  header nav:first-of-type ul:last-of-type li:last-of-type:hover {
    width: 75px;
    animation-name: sneeuwvlokjeSpin;
    animation-duration: .3s;
  }

  @keyframes sneeuwvlokjeSpin {
    0% { 
       transform: rotate(0deg); 
    }
    100% {
    transform: rotate(180deg);
      }
    }
  
  
  
  #logoKerst {
    width: auto;
    height: 200px;
    background-image: url('../images/rijksmuseum-logo-xmas.svg');
    background-repeat: no-repeat;
    margin: auto;
  }
  
  #logoKerst.logoNormaal {
    width: auto;
    height: 200px;
    background-image: url('../images/rijksmuseum-logo.svg');
    background-repeat: no-repeat;
    margin: auto;
  }


  /*****************************/
  /*****************************/
          /* secties 
          van de website */
  /*****************************/
  /*****************************/
  
main section  h2::after {
  content: "";
  text-decoration: none;
  color: var(--color-text);
  height: 1px;
  width: 100%;
  display: block;
  background-color: currentColor;
  transition: transform .3s;
  transform-origin: bottom left;
  transform:scaleX(0);
}

main h2:hover::after{
  transform-origin: bottom left;
  transform: scaleX(1);
} 

main section li a {
  position: relative;
}

main section li a::after {
  content: "";
  text-decoration: none;
  color: var(--color-text);
  height: 1px;
  width: 100%;
  display: block;
  background-color: currentColor;
  transition: transform .3s;
  transform-origin: bottom left;
  transform:scaleX(0);
}

main li a:hover::after{
  transform-origin: bottom left;
  transform: scaleX(1);
} 

section:not(:first-of-type):not(:nth-of-type(5)) {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


main section img {
  object-fit: cover;
  object-position: 50% 40%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

main section:not(:nth-of-type(2)) img:hover {
  transform: scale(1.02, 1.02);
  transition: .5s ease-out;
}


@media (max-width:625px) {
  section:nth-of-type(5) {
    flex-direction: column;
  }
}

section:nth-of-type(5) {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
}

section:nth-of-type(5) article {
   flex: 50%;
  position: relative;
}


section h2 {
  position: absolute;
  color: var(--color-text);
  bottom: 2em;
  left: 0;
  margin-left: 3.5em;
  padding-bottom: 1em;
  z-index: 150;
  text-transform: uppercase;
}

section p {
  position: absolute;
  color: var(--color-text);
  bottom: 2em;
  left: 0;
  margin-left: 5.2em;
  z-index: 200;
}

section:nth-of-type(5) h2:nth-of-type(2) {
  color: var(--color-text);
  left: 500px;
  overflow: hidden;
}

section:nth-of-type(5) p:nth-of-type(2) {
  color: var(--color-text);
  left: 500px;
  overflow: hidden;
}

section:nth-of-type(5){
  height: auto;
}

/*****************************/
/*****************************/
          /* Footer  */
/*****************************/
/*****************************/



footer section{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

footer h3 {
  font-weight: bold;
  color: var(--color-text);
  margin-left: 100px;
  margin-bottom: 10px;
}

footer ul {
  padding: 3em;
}

footer li:not(:first-of-type) {
  display: inline;
}

footer section article p{
  display: block;
  margin-top: 50px;
  position: relative;
  margin-bottom: 0px;
  color: var(--color-text);
  flex: 50%;
}

footer img {
  display: inline;
  max-width: 5em;
}


footer a {
  color: var(--color-text);
}

